.main {
    max-width: 1000px;
    margin: 30px auto;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.slider {

}

.slider-track {
    background-color: #ddd;
    width: 100%;
    height: 20px;
    border-radius: 4px;
    position: relative;
}

.slider-interval {
    background-color: #0086b3;
    height: 20px;
    position: absolute;
    left: 0px;
    right: 0px;
}

.slider-handle {
    height: 30px;
    width: 14px;
    position: absolute;
    background-color: magenta;
    z-index: 1;
}

.slider-handle:after {
    content: attr(data-slider-value);
    position: absolute;
    top: -30px;
    border: 1px solid magenta;
}

.slider-handle[data-slider-handle="min"] {
    left: 0px;
}

.slider-handle[data-slider-handle="max"] {
    right: 0px;
}

.clearfix:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}